<ion-content>
  <div class="flex-center">
    <ion-card class="card-login">
      <ion-card-header>
        <ion-card-title color="success" style="font-weight: bold"
          >Reciclica</ion-card-title
        >
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input
            aria-label="Success input"
            color="success"
            label="Email"
            labelPlacement="floating"
            placeholder="Enter your email"
            type="email"
          ></ion-input>
        </ion-item>

        <ion-item style="padding-top: 2%">
          <ion-input
            aria-label="Success input"
            color="success"
            label="Password"
            labelPlacement="floating"
            placeholder="Enter your password"
            type="password"
          ></ion-input>
        </ion-item>

        <ion-button color="dark" [fill]="'clear'" [size]="'full'">
          FORGOT EMAIL / PASSWORD
        </ion-button>

        <ion-button size="full" color="success">LOGIN</ion-button>
        <ion-button size="full" color="success" fill="clear"
          >REGISTER</ion-button
        >
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
